/* background */
body {
    background-color: rgb(248, 248, 242);
}
/* boxes */
.newspaper{
    text-align:center;
    width: 800px;
    align-items: center;
    background-color:rgb(227, 234, 237)
}


/* alignment using flexbox */
.container{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center; 
}

/* navigation bar */
.navbar ul{
    list-style-type: none;
    background-color: rgb(154, 213, 255);
    padding: 0;
    margin: 240px;
    margin-top: 0px;
    margin-bottom: 0px;
    overflow: hidden;
}

.navbar a{
    text-decoration: none;
    padding: 10px;
    display:flex;
    flex-direction: row;
    justify-content: space-around;
    color: rgb(37, 39, 41);
}

.navbar a:hover{
    background-color: rgb(151, 202, 238);
}

.navbar li{
    float: left;
}

/*title*/
#title{
    font-family: "Cinzel Decorative", serif;
    text-align: center;
    color: rgb(37, 39, 41)
}

#greeting{
    text-align: center;
    color: rgb(37, 39, 41)
}

#linebreak{
    width: 600px;
    height: 6px;
    background-color: rgb(37,39,41);
}