/* background */
body {
    background-color: rgb(4, 1, 31)
}
/* boxes */
.newspaper{
    text-align:center;
    width: 800px;
    align-items: center;
    background-color:rgb(234, 234, 227)
}

#title{
    text-align:center;
    color:rgb(234, 234, 227)
}

/* alignment using flexbox */
.container{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center; 
}
/* navigation bar */
.navbar ul{

}